.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
bootstrap/cache/*
tests
.editorconfig
.gitattributes
.gitignore
README.md
CONTRIBUTING.md
Makefile
Makefile.deploy
Makefile.param.dist
*.md
