/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/css/app.css
public/js/app.js
public/mix-manifest.json
/.env.prod
/Makefile.param.prod
/public/google*.html

/output/
/.vscode/
result.sarif
