includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter .1 \$separator of function explode expects non-empty-string, string given.#'

    level: 6
    paths:
        - app
        - tests
